{% extends 'base.html' %}
{% block content %}
<div class="card my-2">
  <h1 class="text-center"><u>Bussinesses available</u></h1>
  {% for biz_item in business %}
  <div class="card-header">Name:{{biz_item.business_name}}</div>
  <div class="card-body">
    <h5 class="card-title">Neighbourhood: {{biz_item.neighbourhood}}</h5>
    <p class="card-text">Our Email:{{biz_item.business_email_address}}</p>
    <a href="#" class="btn btn-warning">Business</a>
  </div>
  {% endfor %}
</div>
<!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
 {% for biz_item in business %}
 <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
  <div class="icon"><i class="bx bxl-dribbble"></i></div>
  <h4 class="title"><a href="">{{biz_item.business_name}}</a></h4>
  <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
</div>
 {% endfor %}
</div> -->
{% endblock %}