{% extends 'base.html' %}
{% block content %}
  <div class="container d-flex flex-wrap my-3">
      <div class="col-6">
        <div class="card">
          <img src="{{post.photo.url}}" class="img-thumbnail" alt="post Image">
  
    
        <div class="card-body">
          <h1 class="card-title">{{post.title}}</h1>
      
      
          <!-- <div class="row">
            <p>{{post.post_description | striptags}}</p>
          </div> -->
              <p class="card-text">{% autoescape on %}
                {{post.post |safe}}
              {% endautoescape %}</p>
              <p class="text-end"><b>posted by</b> ~<i>{{post.user.username}}</i></p>
        </div>
         </div>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <div class="card">
            <div class="card-body">
              <h3 class="text-center">Add Comment</h3>
              <form action="{% url 'add_comment' post.id %}" method="post">
                  {% csrf_token %}
                  <label for="comment">Comment</label>
                  <textarea name="comment" class="form-control" id="comment" cols="30" rows="5"></textarea>
                  <br>
                  <input type="submit" class="btn btn-danger" value="Add Comment">
              </form>
            </div>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <h2>Comments</h2>
            {% for comment in comments %}
                    <h5 class="text-start">{{comment.user.username}}</h5>
                    <p>{{comment.comment}}</p>
                
            {% endfor %}
          </div>
        </div>
  
      </div>
    

  </div>
{% endblock %}
